@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/);
}


@font-face {
    font-family: "Peace Sans";
    src: url(../fonts/PeaceSans/peace_sans.otf);
}


* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* font-family: "Lato", sans-serif; */
  height: 100%;
  width: 100%;
  /* line-height: 30px;
  font-size: 20px; */
  /* color: #1e1744; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Poppins", sans-serif !important;
    font-family: "Peace Sans", sans-serif !important;
} 

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  /* color: #292929; */
}


a:hover {
  text-decoration: none;
  color: #03B3A1;
}

.button0:hover{
  background: none;
  border: 2px solid #03B3A1;
  color: #223939;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}
.car{
 background: url(../img/back.svg) center/cover no-repeat;
 min-height: 900px; 
}

.button0{
  padding: 0.81rem 2rem;
  border-radius: 0.625rem;
  background: #03B3A1;
  color: #FFF;
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.zag{
  color: #FFF;
  font-family: 'Peace Sans', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: 0.015rem;
}

.podzag{
  color: #FFF;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.name{
  color: #223939;
  font-family: 'Peace Sans', sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.6875rem; /* 208.333% */
  letter-spacing: 0.01125rem;
}

.ustext{
  color: #223939;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4375rem; /* 162.5% */
  letter-spacing: 0.0675rem;
}

.foot{
  display: flex;
  justify-content: left;
}

.const{
  display: flex;
  border-radius: 2.5rem;
  border: 2px solid #223939;
  width: 30.25rem;
  height: 14.125rem;
  align-items: center;
  justify-content: space-around;
}

.nap{
  color: #03B3A1;
font-family: 'Poppins', sans-serif;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.org{
  color: #000;
font-family: 'Poppins', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.sec-2{
  margin-top: 8rem;
}

.slider{
  border-radius: 2.5rem;
} 

.lev{
  width: 30%;
}

.prav{
  width: 30%;
}

.sec-3{
  padding-top: 5rem;
}

.accordion{
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: none;
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button{
  padding: 0 0 0 0;
}

.accordion-body{
  padding: 0 0 0 0;
}

.bg-primary{
  background-color: #3C70C8!important;
  border: 1px solid #223939;
}

.nav-item{
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0rem 1.25rem ;
}

.nav-link{
  --bs-nav-link-color: none;
}

.navbar-collapse {
  flex-grow: 0.6;
}

.modal-backdrop {
  --bs-backdrop-zindex: none;
  --bs-backdrop-bg: none;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.rounded{
  width: 30%;
}

.me-auto{
  margin: auto !important;
  color: #FFF;
}

.dni{
 display: flex;
 align-items: center;
}

.den{
  color: #223939;
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.1875rem; /* 116.667% */
}

.colonki{
  display: flex;
  flex-direction: column;
}

.logotip{
  width: 50%;
}

.podlogo{
  width: 50%;
  cursor: pointer;
}

.glav{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.podglav{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.back{
  background: url(../img/grin.svg) center/cover no-repeat;
  min-height: 400px; 
 }



@media (max-width: 768px) {
 
.car{
  min-height: 660px; 
}


.name{
  font-size: 2rem;
}

  .ustext{
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.den{
  font-size: 1.4rem;
  line-height: 2rem;
}

.dfot{
  display: flex;
  justify-content: center;
}

.fotd{
  width: 60%;
  padding-bottom: 1rem;
}

.logotip{
  width: 80%;
  margin-top: 0.5rem;
}

.podlogo{
  width: 80%;
}

}


@media (max-width: 426px) and (min-width: 320px) {

.car{
  min-height: 500px; 
}

.zag{
font-size: 1.5rem;
line-height: 1.875rem; 
letter-spacing: 0.0075rem;
}

.podzag{
font-size: 0.875rem;
}

.name{
font-size: 1rem;
line-height: 1.25rem; /* 125% */
letter-spacing: 0.005rem;
}

.ustext{
font-size: 0.890rem;
line-height: 1.25rem; /* 166.667% */
letter-spacing: 0.03375rem;
padding-bottom: 10px;
}

.foot{
  width:80%;
}

.const{
  width: 80%;
  height: 180px;
}

.ava{
  width: 90%;
}

.nap{
font-size: 1.125rem;
}

.org{
font-size: 0.625rem;
}

.button0{
font-size: 0.75rem;
padding: 0.56rem 0.87rem;
}

.but{
  width: 60%;
}

.sec-3{
  padding-top: 2rem;
}

.poco{
  display: flex;
  justify-content: right;
}


.cpic{
  width: 60% !important;
}

.den{
font-size: 0.9rem;
line-height: 1.125rem; /* 128.571% */
}

.glav{
font-size: 1rem;
margin-bottom: 1rem !important;
}

.podglav{
font-size: 0.75rem;
}

.logotip{
  width: 30%;
  margin-top: 0.5rem;
  margin-bottom: 1rem !important;
}

.podlogo{
  width: 30%;
}

.last{
  display: flex;
  flex-direction: column;
}

}

